<% provide(:title, 'About') %>
<div class="row">
	<h2>About <%= @book.author %></h2>
	<div>
		<%= simple_format(@book.author_about) %>
	</div>
</div>
<div class="row">
	<h2>About the comic</h2>
	<div>
		<%= simple_format(@book.description) %>
	</div>
</div>
