<div class="navbar navbar-static-top">
	<nav>
		<ul class="nav pull-left chapter-nav">
			<li>Chapter:</li>
			<% @chapters.each do |chapter| %>
				<li><%= link_to chapter.id,	'#' %></li>
			<% end %>
		</ul>
	</nav>
	<nav>
		<ul class="nav pull-right page-nav">
			<li><%#= link_to image_tag("prev.png", alt: "previous"), '#' %></li>
			<li><%#= link_to image_tag("next.png",	alt: "next"), '#' %></li>
		</ul>
	</nav>
</div>
<div class="comic-image">
	<%#= image_tag("5.jpg", alt: "comic sample") %>
	<h2><%= @page.filename %></h2>
</div>
