/* mixins, variables */
$purpleDark:    #330033;
$purpleMedium:  #663366;
$purpleLight:   #996699;
$orangeMedium:  #cc9966;
$blueMedium:    #222941;
$blueLight:     #5d6e85;
$blueDark:      #000033;
$greyMedium:    #717174;

/* universal */

html {
  overflow-y: scroll;
}

body {
  font-size: 100%;
  background: {
    color: #330033;
    image: url(image_path('bg.jpg'));
    repeat: repeat-x;
    position: left top;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

body {
  font-family: Lato, Helvetica, Helvetica, Arial, sans-serif;
}

/* ============ header ============ */

header {
  .navbar {
    overflow: hidden;
    background-color: $purpleDark;
    border-bottom: {
      width: 8px;
      style: solid;
      color: $purpleMedium;
    }

    .navbar .btn-navbar {
      background-color: $blueLight;
      background-image: none;
      margin:5px;
      padding: 4px 7px;
    }

    .nav {
      li {
        line-height: 30px;
        a {
          padding: 0 15px 0;
          color: $purpleLight;
          line-height: 30px;
          text: {
            shadow: none;
            transform: uppercase;
          }
          font: {
            size: 16px;
            weight: 900;
          }
          &:hover {
            color: $purpleLight;
            text-decoration: underline;
          }
          &:focus {
            color: $purpleLight;
          } 
        }
      }
    }
  }

  .steve-hamaker {
    float: left;
    padding-left: 15px;
    color: $orangeMedium;
    line-height: 30px;
    font: {
      size: 16px;
      weight: 900;
    }
    &:hover {
      color: $orangeMedium;
    }
  }

  .masthead {
    height: 115px;
    width: 940px;
    background: {
      image: url(image_path('masthead.jpg'));
      repeat: no-repeat;
      position: center top;
    }
  }
}

/* ============ content =========== */

section .wrapper {

  background: {
    color: $blueDark;
    image: url(image_path('left-barB.png'));
    repeat: no-repeat;
    position: left top;
  }
  margin-bottom: 30px;
  min-height: 817px;
}

.content {
  width: 79%;
  float:right;
  padding: 15px;


  .navbar {
    background-color: $blueMedium;
    height: 45px;
    width: 100%;

    nav .chapter-nav {
      padding-left: 10px;
      li {
        font-weight: 900;
        color: $orangeMedium;
        padding: 10px 5px;
        text-transform: uppercase;
        a {
          padding: 0;
          text-shadow: none;
          &:hover {
            color: $orangeMedium;
          }
        }  
        a.active {
          color: $orangeMedium;
        }
      }
    }

    nav .page-nav {
      height: 45px;
      padding: 0;
      li {
          padding: 5px 7px;
          a {
            padding: 0;
          }
          span {
            padding-top:22px;
            font: {
              size: 14px;
              weight: 900;
            }
            color: $orangeMedium;
          }
      }
      img.inactive {
        opacity: 0.5;
      }
    }
  }

  div#author, div#about {
    float: right;
    margin: 20px;
    width: 677px;
    min-height: 280px;
    border: 5px solid #000000;

    p {
      padding: 5px 30px;
      color: $greyMedium;
    }

    h2 {
      padding: 5px 10px;
      color: $purpleLight;
    }
  }

  div#author {
    background: {
      color: #ffffff;
      image: url(image_path('steve-bio.jpg'));
      position: right bottom;
      repeat: no-repeat;
    }
    p {
      padding-right: 200px;
    }
  }

  div#about {
    background: {
      color: #ffffff;
      image: url(image_path('city.jpg'));
      position: right bottom;
      repeat: no-repeat;
    }
  }
}


/* ============ footer ============ */

footer {
  background-color: $blueDark;
  padding: 20px 0 60px 0;
  border-top: {
    width: 15px;
    style: solid;
    color: $purpleMedium;
  }

  h3 {
    font-size: 16px;
    font-weight: 900;
    color: $purpleLight;
    line-height: 20px;
  }

  p {
    color: $blueLight;
    font: {
      size: 15px;
      weight: 300;
    }
    line-height: 22px;
  }

  div#blurb {
    padding-right:30px;
  }

  div#connect div.navbar {
    background: none;
    border:none;
  }

  .navbar .nav {
    li {
      a {
        padding:0 6px;
      }
    }
  }
}

/* ============ media rules =============== */

@media (max-width: 480px) {
  
  header {

    .steve-hamaker {
      display:none;
    }

    .masthead {
      margin: 4px auto;
      width: 280px;
      height: 75px;
      background: {
        image: url(image_path('masthead-320.jpg'));
        repeat: no-repeat;
        position: center top;
      }
    }
  }

  section .wrapper {
    background: {
      color: $blueDark;
      image: none;
      repeat: no-repeat;
      position: left top;
    }
    margin-bottom: 10px;
    min-height: 0;
  }

  .container {
    margin:0;

    .page-nav {
      margin: 0 auto;
      text-align: center;
    }
    .content .navbar nav .page-nav li {
      padding: 5px 15px;
      a {
        padding: 0;
      }
    }
  }

  .content {
    float: none;
    width: 100%;
    padding: 0;

    .chapter-nav {
      display: none;
    }

    div#author, div#about {
        margin: 20px;
        min-height: 280px;
        border: 5px solid #000000;
        width: inherit;

        p {
          padding: 5px 10px;
          color: $greyMedium;
        }

        h2 {
          font-size: 18px;
          padding: 5px 10px;
          color: $purpleLight;
        }
    }

    div#author {
        background: none;
        background-color: #ffffff;
    }

    div#about {
      background: {
        color: #ffffff;
        image: url(image_path('city.jpg'));
        position: right bottom;
        repeat: no-repeat;
      }
    }
  }

  footer {
    #share {
      padding-top: 25px;
    }
  }
}

@media (max-width: 768px) {
  
  header {
    .navbar .btn-navbar {
      background-color: $blueLight;
      background-image: none;
      margin:5px;
      padding: 4px 7px;
    }
    .masthead {
      width:100%;
      overflow-x: hidden;
      background-position: left top;
    }
  }

  section .wrapper {
    background: {
      color: $blueDark;
      image: none;
      repeat: no-repeat;
      position: left top;
    }
    margin-bottom: 10px;
    min-height: 0;

    .content {
      float: none;
      width: 100%;
      padding: 0;
      .navbar {
        margin: 0;
      }
    }
  }

  footer {

    #blurb, #connect, #share {
      padding: 15px 20px;
    }
    #blurb {
      padding-bottom: 0;
    }
    #connect {
      padding-bottom: 25px;
    }
  }


  
}

@media (min-width: 768px) and (max-width: 940px) {

  header {
    .navbar .btn-navbar {
      background-color: $blueLight;
      background-image: none;
      margin:5px;
      padding: 4px 7px;
    }
  }

}



@media (min-width: 1210px) {
  .container, .navbar-static-top .container, .navbar-fixed-top .container, 
  .navbar-fixed-bottom .container {
    width: 940px;
  }

  footer .span3 {
    width: 150px;
    margin-left:20px;
  }
}