<header>
	<div class="navbar navbar-static-top">
			<div class="container">
				<span class="brand">ADMIN</span>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><%= link_to "View site", root_path, target: '_blank' %></li>
					</ul>
				</div>

				<div class="nav-collapse collapse">
					<nav>
							<ul class="nav pull-right">
									<% if signed_in? %>
										<li class="greeting"><%= "Hi, #{current_user.first_name}!" %></li>
										<li class="signout"><%= link_to "Sign out", signout_path, method: "delete" %></li>
									<% end %>
							</ul>
					</nav>
				</div>

			</div>
	</div>
	<div class="container">
			<div class="admin_masthead"></div>
	</div>
</header>