<footer>
	<div class="container">
		<div class="row">
		  <div class="span3 offset8">
		  		<h5>Powered by PLOXR&trade;</h5>
		  </div>
		</div><!-- /row -->
		<div class="row">
			<%= debug(params) if Rails.env.development? %>
		</div>
	</div><!-- /container -->
</footer>