<header>
	<div class="navbar navbar-static-top">
			<div class="container">
				<span class="brand">ADMIN</span>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><%= link_to "View site", root_path, target: '_blank',
																				 class: 'steve-hamaker' %></li>
					</ul>
				</div>

				<div class="nav-collapse collapse">
					<nav>
							<ul class="nav pull-right">
								<li><img src="http://placehold.it/24x24/717174/000000" class="img-rounded"></li>
								<li>Steve Hamaker</li>
								<li><%= link_to "Sign Out", about_path %></li>
							</ul>
					</nav>
				</div>

			</div>
	</div>
	<div class="container">
			<div class="admin_masthead"></div>
	</div>
</header>