<div id="footer">
  <div>
    <h3>Hell Is Other Players</h3>
    <p>What do you do when virtual world you dedicated your life to gets unplugged and ripped away?  PLOX is the online graphic novel that tells the story of Chad, the raid leader with no patience, Roy, the rational one that would rather play with dice and paper, and Kim, the guild leader at the end of her rope.</p>
		<p>When the games we play forge our identity, hell is other players.</p>
	</div>
	<div>
		<h3>Connect with Steve</h3>
	    <ul>
	    	<li><%= link_to image_tag("twitter.png", alt: "Twitter"), 
	    														'https://twitter.com/SteveHamaker' %></li>
	    	<li><%= link_to image_tag("facebook.png", alt: "Facebook"),
	    														'https://www.facebook.com/PloxComic' %></li>
	    </ul>
  </div>
  <div>
		<h3>Share PLOX</h3>
		<% # share buttons here %>
	</div>
</div>